---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}

<!--begin -->
<div class="popup">
	<div class="popup__overlay">
		<div class="popup__content">
		<div class="popup__close"><span>X</span></div>
			<div class="popup__title">Расчет стоимости дома</div>
			<p class="popup__text">Загрузите проект или эскиз и оставьте данные для связи</p>
			<form >
				<div class="popup__inner">
					<input class="popup__input" type="text" placeholder="Ваше имя" >
					<input class="popup__input" type="text" placeholder="Ваш E-mail (На него прийдет расчет стоимости. Не спамим)" >
					<input class="popup__input" type="text" placeholder="Ваш телефон (для уточнения деталей проекта)" >
					<input class="popup__input" type="text" placeholder="Комментарий" >
				</div>
				<button class="popup__btn" type="button">Отправить</button>
			</form>
		</div>
	</div>
</div>
<!--end -->


{% include "partials/_footer.html" %}


{% endblock %}
