---
title: Index page
home: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
{% include "partials/_slider-block.html" %}
<!-- begin advs -->
<div class="advs">
	<div class="advs__item">
		<div class="advs__img">
			{{mixins.icon('adv1')}}
		</div>
		<p class="advs__text">
			15 лет успешной работы
		</p>
	</div>
	<div class="advs__item">
		<div class="advs__img">
			{{mixins.icon('adv2')}}
		</div>
		<p class="advs__text">
			Собственное производство
		</p>
	</div>
	<div class="advs__item">
		<div class="advs__img">
			{{mixins.icon('adv3')}}
		</div>
		<p class="advs__text">
			Гарантия на дом  10 лет!
		</p>
	</div>
	<div class="advs__item">
		<div class="advs__img">
			{{mixins.icon('adv4')}}
		</div>
		<p class="advs__text">
			Построено более 210 домов
		</p>
		<!-- {{mixins.icon(adv-arrow)}} -->
		<div class="advs__spec-block">
			Выделите на карте участок, 
			на котором хотите построить Вы
		</div>
	</div>
</div>
<!-- end advs -->
<!-- begin map-block -->
<div class="map-block">
	<!-- begin map-block__left -->
	<div class="map-block__left">
		<h2 class="title-m map-block__title">
			Озывы наших клиентов
		</h2>
		<div class="map-block__video map-block__video--lc">
			
		</div>
		<div class="map-block__video map-block__video--rc">
			
		</div>
		<a class="map-block__btn" href="#">Ещё..</a>
	</div>
	<!-- end map-block__left -->
	<!-- begin map-block__right -->
	<div class="map-block__right">
		<div class="map-block__marker is-open">
			<div class="map-block__info">
				<div class="map-block__info-img"></div>
				<a class="map-block__info-link" href="#">Подробнее
					{{mixins.icon('hnext')}}
				</a>
			</div>
		</div>

	</div>
	<!-- end map-block__right -->
</div>
<!-- end map-block -->
<!-- begin why-we -->
<div class="why-we">
	<!-- begin container -->
	<div class="container">
		<h2 class="title-m why-we__title">Почему мы?</h2>
		<!-- flex -->
		<div class="why-we__list">
			{% import "data/data.html" as tests %}
			{% for test in tests.whyWe %}
			<div class="why-we__item">
				<div class="why-we__quad">
					{{mixins.icon(test.img)}}
				</div>
				<strong class="why-we__title">
					{{test.title}}
				</strong>
				<p >
					{{test.text}}
				</p>

			</div>

			{% endfor %}

		</div>
	</div>
	<!-- end container -->
</div>
<!-- end why-we -->
<div class="hbuilding">
	<!-- begin container -->
	<div class="container">
		<h2 class="hbuilding__title title-m">Строительство - это просто
		</h2>
		<div class="hbuilding__video">

		</div>
		<div class="hbuilding__right">
			<div class="hbuilding__list">
				{% import "data/data.html" as tests %}
				{% for test in tests.hbuilding %}
				<a href="#" class="hbuilding__link">
					{{mixins.icon(test.img)}}
					<span>{{test.text}}</span>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end container -->
</div>

<!-- begin hdownload -->
<div class="hdownload">
	<!-- begin container -->
	<div class="container">
		<div class="hdownload__first-block decor-quad decor-quad--r-t">
			<h3 class="hdownload__title">
				Путеводитель Вашего строительства
			</h3>
			<p>
				Важные моменты стсроительства, распространенные ошибки при выборе строительной компании
			</p>
			<a class="btn-border hdownload__btn" href="#">Скачать</a>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end hdownload -->
<!-- begin form-block -->
<div class="form-block">
	<!-- begin container -->
	<div class="container">
		<div class="form-block__bg" style="background-image: url('img/form-block1-bg.jpg');"></div>

		<div class="form-block__sec-block decor-quad decor-quad--l-t">
			<h3 class="form-block__title">
				Нужна консультация спецалиста?
			</h3>
			<p >
				Заполните форму ниже и мы ответим на любые интересющие Вас вопросы
			</p>
			<div class="consult-form">
				<form >	
					<div class="consult-form__left">
						<input class="input" type="text" placeholder="Ваше имя">
						<input class="input" type="text" placeholder="Ваш телефон">
					</div>
					<textarea class="textarea" placeholder="Интересующий вопрос"></textarea>
					<a class="btn-border form-block__btn" href="#">Скачать</a>
				</form>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end form-block -->
<!-- begin hmore -->
<div class="hmore">
	<h2 class="title-m hmore__title">
		Узнайте больше о нашей компании
	</h2>
	<div class="hmore__list">
		<div class="hmore-block hmore__item">
			<span class="hmore-block__title">Менеджмент</span>
			<div class="hmore-block__img" >
				<img src="img/hmore-1.jpg" alt="alt">
			</div>
			<a class="hmore-block__link" href="#">Узнать больше {{mixins.icon('hnext')}}</a>
		</div>
		<div class="hmore-block hmore__item">
			<span class="hmore-block__title">Строительство</span>
			<div class="hmore-block__img" >
				<img src="img/hmore-2.jpg" alt="alt">
			</div>
			<a class="hmore-block__link" href="#">Узнать больше {{mixins.icon('hnext')}}</a>
		</div>
		<div class="hmore-block hmore__item">
			<span class="hmore-block__title">Обслуживание</span>
			<div class="hmore-block__img" >
				<img src="img/hmore-3.jpg" alt="alt">
			</div>
			<a class="hmore-block__link" href="#">Узнать больше {{mixins.icon('hnext')}}</a>
		</div>
	</div>
</div>
<!-- end hmore -->

{% include "partials/_footer.html" %}
<!-- 	{# variable example #}
	<h1>{{title}}</h1>

	
	{# partial example #}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
		{# end of example #} -->

		{% endblock %}
