<!-- begin consult -->
<div class="consult">
	<!-- begin container -->
		<div class="consult__bg" style="background-image: url('img/consult-bg.jpg');"></div>
	<div class="container">

		<div class="consult__block decor-quad decor-quad--l-t">
			<div class="consult__block-inner">
				<h3 class="title-lg title-lg--blue consult__title">
					Нужна консультация спецалиста?
				</h3>
				<p >
					Заполните форму ниже и мы ответим на любые интересющие Вас вопросы
				</p>
				<div class="consult-form">
					<form >	
						<div class="consult-form__inner">
							<div class="consult-form__left">
								<input class="input consult-form__input" type="text" placeholder="Ваше имя">
								<input class="input consult-form__input" type="text" placeholder="Ваш телефон">
							</div>
							<textarea class="textarea consult-form__textarea" placeholder="Интересующий вопрос"></textarea>
						</div>
						<a class="btn-border consult-form__btn" href="#">Отправить</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end consult -->