<!--begin nav dropdown-->
<div class="ndropdown ndropdown-on-hover">
	<!--begin ndropdown__wrapper-->
	<div class="ndropdown__wrapper">
		<div class="ndropdown__left">
			{% import "data/data.html" as tests %}
			{% for test in tests.list %}
			<div class="dropitem {% if test.lastRow %}dropitem--last-row{% endif %}">
				<div class="dropitem__img">
					<img src="img/{{test.img}}.jpg" alt="alt">
				</div>
				<a class="dropitem__text" href="#">{{test.title}}</a>
			</div>
			{% endfor %}
		</div>

		<div class="ndropdown__right" style="background-image: url('img/drop-img.jpg');">
			{{mixins.icon('droparrow')}}
			<div class="discount">
				<p class="discount__main-text">
					Скидки на дома
					по индивидуальному проекту 
					до <span>15%</span>
				</p>
				<p class="discount__sec-text">
					только в августе
				</p>
			</div>
			<a class="btn ndropdown__btn" href="#"><span>Подробнее</span></a>
		</div>
	</div>
	<!--end ndropdown__wrapper-->
</div>
<!--end nav dropdown-->