{% set 
	list = [
	{
	title: 'Дома и коттеджи',
	img: 'dropitem-img1'
},
{
	title: 'Дачные дома',
	img: 'dropitem-img2'
},
{
	title: 'Бани',
	img: 'dropitem-img3'
},
{
	title: 'Индивидуальный
	проект',
	img: 'dropitem-img4'
},
{
	title: 'Бизнес пристройки',
	img: 'dropitem-img5',
	lastRow: 'true'
},
{
	title: 'Садовые домики',
	img: 'dropitem-img6',
	lastRow: 'true'
},
{
	title: 'Пристройки',
	img: 'dropitem-img7',
	lastRow: 'true'
},
{
	title: 'Надстройки',
	img: 'dropitem-img8',
	lastRow: 'true'
}
] 
%}

{% set 
	whyWe = [
	{
	img: 'why-we1',
	title: 'Всегда точно в срок',
	text: 'Мы дорожим своей репутацией, поэтому никогда не срываем сроки. Построить дом в срок - крайне важно и для нас и для Вас.'
},
{
	img: 'why-we2',
	title: 'Выгодные цены',
	text: 'Мы дорожим своей репутацией, поэтому никогда не срываем сроки. Построить дом в срок - крайне важно и для нас и для Вас.'
},
{
	img: 'why-we3',
	title: '100% гарантия качества',
	text: 'Мы дорожим своей репутацией, поэтому никогда не срываем сроки. Построить дом в срок - крайне важно и для нас и для Вас.'
},
{
	img: 'why-we4',
	title: 'Мастера своего дела',
	text: 'Мы дорожим своей репутацией, поэтому никогда не срываем сроки. Построить дом в срок - крайне важно и для нас и для Вас.'
},
{
	img: 'why-we2',
	title: 'Выгодные цены',
	text: 'Мы дорожим своей репутацией, поэтому никогда не срываем сроки. Построить дом в срок - крайне важно и для нас и для Вас.'
},
{
	img: 'why-we3',
	title: '100% гарантия качества',
	text: 'Мы дорожим своей репутацией, поэтому никогда не срываем сроки. Построить дом в срок - крайне важно и для нас и для Вас.'
}
] 
%}

{% set 
	hbuilding = [
	{
	img: 'hbuilding-1',
	text: 'Проект'
},
{
	img: 'hbuilding-2',
	text: 'Разрешение'
},
{
	img: 'hbuilding-3',
	text: 'Производство'
},
{
	img: 'hbuilding-4',
	text: 'Строительство'
},
{
	img: 'hbuilding-5',
	text: 'Кровля'
},
{
	img: 'hbuilding-6',
	text: 'Отделочные работы'
},
{
	img: 'hbuilding-7',
	text: 'Окна, двери'
},
{
	img: 'hbuilding-8',
	text: 'Ввод в эксплуатацию'
}
] 
%}

{% set 
	cprod = [
	{
	img: 'prod-img1',
	title: '“Север” 1323 м<sub>2</sub>',
	prod: false
},
{
	img: 'prod-img1',
	title: '“Комфорт” 139 м<sub>2</sub>',
	prod: false
},
{
	img: 'prod-img1',
	title: '“Легенда” 139 м<sub>2</sub>',
	prod: true
},
{
	img: 'prod-img1',
	title: '“Легенда” 139 м<sub>2</sub>',
	prod: false
},
{
	img: 'prod-img1',
	title: '“Малибу” 139 м<sub>2</sub>',
	prod: false
},
{
	img: 'prod-img1',
	title: '“Грация” 139 м<sub>2</sub>',
	prod: false
},
{
	img: 'prod-img1',
	title: '“Лаура” 139 м<sub>2</sub>',
	prod: false
},
{
	img: 'prod-img1',
	title: '“Модерн” 139 м<sub>2</sub>',
	prod: false
},
{
	img: 'prod-img1',
	title: '“Летний” 139 м<sub>2</sub>',
	prod: false
}
] 
%}