{% set 
list = [
	{
		title: 'Дома и коттеджи',
		img: 'dropitem-img1'
	},
		{
		title: 'Дачные дома',
		img: 'dropitem-img2'
	},
		{
		title: 'Бани',
		img: 'dropitem-img3'
	},
		{
		title: 'Индивидуальный
проект',
		img: 'dropitem-img4'
	},
		{
		title: 'Бизнес пристройки',
		img: 'dropitem-img5',
		lastRow: 'true'
	},
		{
		title: 'Садовые домики',
		img: 'dropitem-img6',
		lastRow: 'true'
	},
		{
		title: 'Пристройки',
		img: 'dropitem-img7',
		lastRow: 'true'
	},
		{
		title: 'Надстройки',
		img: 'dropitem-img8',
		lastRow: 'true'
	}
] 
%}