@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-adv-arrow: "\EA01";
$icon-adv1: "\EA02";
$icon-adv2: "\EA03";
$icon-adv3: "\EA04";
$icon-adv4: "\EA05";
$icon-aks-arrow: "\EA06";
$icon-droparrow: "\EA07";
$icon-facebook: "\EA08";
$icon-hbuilding-1: "\EA09";
$icon-hbuilding-2: "\EA0A";
$icon-hbuilding-3: "\EA0B";
$icon-hbuilding-4: "\EA0C";
$icon-hbuilding-5: "\EA0D";
$icon-hbuilding-6: "\EA0E";
$icon-hbuilding-7: "\EA0F";
$icon-hbuilding-8: "\EA10";
$icon-hnext: "\EA11";
$icon-hprev: "\EA12";
$icon-inst: "\EA13";
$icon-mouse: "\EA14";
$icon-phone: "\EA15";
$icon-tw: "\EA16";
$icon-vk: "\EA17";
$icon-why-we1: "\EA18";
$icon-why-we2: "\EA19";
$icon-why-we3: "\EA1A";
$icon-why-we4: "\EA1B";
$icon-you: "\EA1C";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-adv-arrow:before { content: $icon-adv-arrow; }
.icon-adv1:before { content: $icon-adv1; }
.icon-adv2:before { content: $icon-adv2; }
.icon-adv3:before { content: $icon-adv3; }
.icon-adv4:before { content: $icon-adv4; }
.icon-aks-arrow:before { content: $icon-aks-arrow; }
.icon-droparrow:before { content: $icon-droparrow; }
.icon-facebook:before { content: $icon-facebook; }
.icon-hbuilding-1:before { content: $icon-hbuilding-1; }
.icon-hbuilding-2:before { content: $icon-hbuilding-2; }
.icon-hbuilding-3:before { content: $icon-hbuilding-3; }
.icon-hbuilding-4:before { content: $icon-hbuilding-4; }
.icon-hbuilding-5:before { content: $icon-hbuilding-5; }
.icon-hbuilding-6:before { content: $icon-hbuilding-6; }
.icon-hbuilding-7:before { content: $icon-hbuilding-7; }
.icon-hbuilding-8:before { content: $icon-hbuilding-8; }
.icon-hnext:before { content: $icon-hnext; }
.icon-hprev:before { content: $icon-hprev; }
.icon-inst:before { content: $icon-inst; }
.icon-mouse:before { content: $icon-mouse; }
.icon-phone:before { content: $icon-phone; }
.icon-tw:before { content: $icon-tw; }
.icon-vk:before { content: $icon-vk; }
.icon-why-we1:before { content: $icon-why-we1; }
.icon-why-we2:before { content: $icon-why-we2; }
.icon-why-we3:before { content: $icon-why-we3; }
.icon-why-we4:before { content: $icon-why-we4; }
.icon-you:before { content: $icon-you; }
