@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-adv1: "\EA01";
$icon-adv2: "\EA02";
$icon-adv3: "\EA03";
$icon-adv4: "\EA04";
$icon-aks-arrow: "\EA05";
$icon-droparrow: "\EA06";
$icon-facebook: "\EA07";
$icon-hnext: "\EA08";
$icon-hprev: "\EA09";
$icon-inst: "\EA0A";
$icon-mouse: "\EA0B";
$icon-phone: "\EA0C";
$icon-tw: "\EA0D";
$icon-vk: "\EA0E";
$icon-you: "\EA0F";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-adv1:before { content: $icon-adv1; }
.icon-adv2:before { content: $icon-adv2; }
.icon-adv3:before { content: $icon-adv3; }
.icon-adv4:before { content: $icon-adv4; }
.icon-aks-arrow:before { content: $icon-aks-arrow; }
.icon-droparrow:before { content: $icon-droparrow; }
.icon-facebook:before { content: $icon-facebook; }
.icon-hnext:before { content: $icon-hnext; }
.icon-hprev:before { content: $icon-hprev; }
.icon-inst:before { content: $icon-inst; }
.icon-mouse:before { content: $icon-mouse; }
.icon-phone:before { content: $icon-phone; }
.icon-tw:before { content: $icon-tw; }
.icon-vk:before { content: $icon-vk; }
.icon-you:before { content: $icon-you; }
