.icon-aks-arrow {
  width: 0.54em;
  height: 1em;
  fill: none;
}
.icon-droparrow {
  width: 1.91em;
  height: 1em;
  fill: #485C84;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-hnext {
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.icon-hprev {
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mouse {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: #55ACEE;
}
.icon-vk {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-you {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
